<footer>
  <div class="footer-section logo">
    <img src="assets/playstation-logo.png" alt="PlayStation Logo">
    <div class="language">
      <span class="material-symbols-outlined">language</span><p>País/região: Brasil</p>
    </div>
  </div>
  <div class="footer-container">
    <div class="footer-section" *ngFor="let section of footerSections">
      <ul>
        <li *ngFor="let item of section.items">{{ item }}</li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2024 Sony Interactive Entertainment Inc. Todos os direitos reservados.</p>
  </div>
</footer>
