<div class="jogos-mensais-container">
    <div class="jogos-mensais-banner">
        <div class="jogos-img">
            <img src="assets/jogos-mensais.png" alt="Jogos Mensais">
        </div>
        <div class="jogos-img">
            <img src="assets/jogos-mensais-2.png" alt="Jogos Mensais">
        </div>
    </div>
</div>
<div class="jogos-mensais-content">
    <div class="jogos-mensais-text">
        <h2>Descobre o PlayStation Plus</h2>
        <p>Aproveite centenas de jogos de PS5, PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis.</p>
    </div>
    <div class="jogos-mensais-button">
        <button>Saiba mais</button>
    </div>
</div>
  