<div class="banner-container">
    <div class="banner-container-nba">
        <div class="banner-background">
            <section class="banner-logo">
                <img src="assets/nba-logo.png" alt="NBA 2K25 Logo">
            </section>
            <section class="banner-player">
                <img src="assets/player.png" alt="NBA Player">
            </section>
        </div>
    </div>
    <div class="banner-content">
        <div class="banner-content-text">
            <h2>NBA 2K25</h2>
            <p>Jogue em qualquer lugar, vença sempre</p>
        </div>
        <div class="banner-button">
            <button>Pré-reserve Agora</button>
        </div>
    </div>
</div>

