<nav>
    <picture class="logo">
        <source srcset="assets/logo-small.png" media="(max-width: 300px)">
        <img src="assets/ps-logo.png" alt="">
    </picture>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="#">Novidades</a></li>
        <li><a href="#">Coleções</a></li>
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Assinaturas</a></li>
        <li><a href="#">Navegar</a></li>
    </ul>
</nav>
